h2 {
    color: #00BFFF;  /* light blue */
    font-family: Helvetica ,Arial,sans-serif;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
}

body {
    width: 90%;
    padding-left: 5%;
    font-family: Helvetica ,Arial,sans-serif;
    font-size: medium;
}

/*Format the two blue cells: */
td.box {
    border: solid;
    border-color: #00BFFF; /* light blue */
    border-radius: 6px;
    width: 30%;
    padding: 20px;
}

/* Overwrite the bootstrap dropdown menu which was set to 100% and takine the entire cell width:*/
.form-control {
    width: auto;
}

/*Overwrite the bootstrap submit button size which was too small:*/
.btn {
    font-size: medium;
}

/*Format the answer*/
.answer {
    font-size: large;
    color: blue;
    text-align: center;
    font-weight: 400;
    background: yellow;
    border-color: #74DF00; /* light green */
    border-style: solid;
    border-radius: 6px;
    border-width: 5px;
}

/*Center the image: */
.centerImage {
    margin-top: 20px;
    text-align: center;
}
/*Footer style: */
.footer {
    width: 100%;
    color: yellow; /* light blue */
    background-color: #74DF00;  /* light green */
}